[color]
	ui = auto
[color "diff"]
  meta = yellow bold ul  
  frag = cyan bold ul
  old = red bold  
  new = green bold
[color "status"]  
  added = green bold  
  changed = yellow bold  
  untracked = red bold
[user]
	name = Magnus Eriksson
	email = chylis88@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[help]
	autocorrect = 0
[merge]
  keepBackup = false
  tool = p4merge
[mergetool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$PWD/$BASE\"" "\"$PWD/$REMOTE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$MERGED\""
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[diff]
  tool = p4merge
	submodule = log
[difftool]
  prompt = false 
[difftool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$LOCAL\" ""\"$REMOTE\""
[alias]
	co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  prettylog = log --pretty=format:'%ad%x09%C(yellow)%s%Creset%x09(%an)' --no-merges --date=short
	tags = for-each-ref --sort='*authordate' --format='%(tag)' refs/tags
  search = log --no-merges -i -E --pretty='%h (%ad) - [%an] %s %d' --date=format:'%b %d %Y' --grep
  s = status
  d = diff
  ds = diff --staged
  ru = remote update
[credential]
	helper = store
[commit]
  template = ~/.gitmessage
